@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,700italic,800,600italic,800italic,300italic);

body {
	font-family: 'Open Sans', sans-serif;

}

/*HEADER AREA*/
header {
	background-image:url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	height: 700px;
	width: 100%;
	margin: 0;
}
.logo {
	padding: 15px 0 0 55px;
	color: white;
	font-weight: bolder;
	font-size: 24px;
}


header h1 {
	font-size: 24px;
	font-weight: bolder;
	color: white;
	padding: 185px 0 0 366px;
}

header button {
	font-weight: bold;
	color: #033048;
	font-size: 14px;
	border-radius: 5px;
	padding: 10px 45px 10px 45px;
	background: yellow;
	color: black;
	margin-top: 50px;
	margin-left:515px;
	
}

/*



. p {
	font-style: normal;
	font-size: 20px;
	margin-left: 55px;
	margin-top: 50px;
	color:white;
	
}
*/



/*CONTENT AREA*/

section {
	color: #033048;
	background: #f0efef;
	font-weight: bold;
	font-size: 20px;
	padding-top: 15px;
	width: 1160px;
	padding: 15px 0 25px 40px;
}

.content p{
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 13px;
	font-weight: lighter;
}

ul{

	font-size: 13px;
	font-weight: lighter;
	 list-style-type:square;
}

li{
	padding: 5px;
	margin-left: 50px;
}

blockquote{
	background-image: url("../images/testimonial_bg.jpg");
	width: 1200px;
	height: 300px;
}

.testimonial {
	font-weight: lighter;
	font-style: italic;
	text-align: center;
	padding-top: 55px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.testimonial p{
	font-style: normal;
	text-align: center;
	padding-top: 15px;
}

.bot-line{
	background: yellow;
	width: 1000px;
	padding:15px 100px 15px 100px;
}

.bot-line button{
	background: #033048;
	color: white;
	font-weight: bolder;
	font-size: 12px;
	border-radius: 5px;
	padding: 10px 45px 10px 45px;
	margin-left: 400px;
}


/*Footer Area*/

footer{
	background: #121212;
	text-align: center;
	width: 1200px;
}

footer .logo{
	padding: 40px;
	color: yellow;
}

nav {
	display: inline;
}

#copyright{
	color: white;
	padding: 40px;
	font-size: 9px;
	font-weight: bold;
}

